<!DOCTYPE html>
<html>
<head>
  <title>MTM Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/keen-dashboards.css" />
  <script type="text/javascript" src="/static/crossfilter.js"></script>
  <script src="/static/d3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/dc.css" media="screen" /> 
  <script src="/static/dc.js" type="text/javascript"></script>
  
  <link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.min.css" />
  <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/static/jquery.dataTables.min.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/keen.min.js"></script>
  <script type="text/javascript" src="/static/meta.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/rotateXaxisLabelsLHR.css" media="screen" />
  
  <script src="/static/intro.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/static/introjs.css" />

<!-- Google Analystics code has been taken out by L. Rico 4 Nov '15 --> 
  
</head>
<body class="application">


  <div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >MTM Bogie Dynamic Testing Dashboard by Luis Rico. Nov 2015
			<a style="float:right" class="btn btn btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Tutorial</a>
		</a>

      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            All Exceedences Counter
          </div>
		  
          <div class="chart-stage">
			<div id="line-chart" data-step='7' data-intro='Hover over the charts plots for tooltip context information.'>
				<a href="javascript:lineChart.filterAll();rangeChart.filterAll();stackedBarChart.filterAll();dc.redrawAll();" data-step='2' data-intro='Click on the reset button to cancel the effect of a custom selection.'>reset</a>   <!-- stackedBarChart is including to solve a weird effect on the stacked chart -->
			</div>
			<div id="range-chart" data-step='1' data-intro='Use the range chart to select a different timeline by clicking within the chart area and drag the handlers that will appear. Handlers can be re-position whilst shown.'></div>
          </div>
		  
          <div class="chart-notes">
            Line chart
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Top Locations (Up to 10)
          </div>
          <div class="chart-stage">
            <div id="row-chart" data-step='3' data-intro='Click on the chart bars to filter by location. Note that multiple selections can be made.'>
				<a href="javascript:locationRowChart.filterAll();dc.redrawAll();">reset</a>
			</div>
          </div>
          <div class="chart-notes">
            Row chart
          </div>
        </div>
      </div>
	  
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Route filter
          </div>
          <div class="chart-stage">
            <div id="row-chart2" data-step='4' data-intro='Every chart can be used as a filter to select different visualizations.'>
				
			</div>
          </div>
          <div class="chart-notes">
            Row chart
          </div>
        </div>
      </div>
	  
	  <div class="dc-data-count" style="float: right;">
				
				<span data-step='5' data-intro='This counter is updated according to selections or filters applied across all charts. Note the reset button.'>  
				<span class="filter-count"></span>
				events out of
				<span class="total-count"></span>
				exceedences |
					<a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
				</span>
				
		</div>

    </div>

    <div class="row">

     <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Analysis Type filter
          </div>
          <div class="chart-stage">
            <div id="ring-chart2" data-step='4' data-intro='Every chart can be used as a filter to select different visualizations.'>
				
			</div>
          </div>
          <div class="chart-notes">
            Ring chart
          </div>
        </div>
      </div>
	  
	  <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Accelerometer Location filter
          </div>
          <div class="chart-stage">
            <div id="ring-chart3" data-step='4' data-intro='Every chart can be used as a filter to select different visualizations.'>
				
			</div>
          </div>
          <div class="chart-notes">
            Ring chart
          </div>
        </div>
      </div>
	  
      
	  
	   <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Speed range filter
          </div>
          <div class="chart-stage">
            <div id="ring-chart4" data-step='4' data-intro='Every chart can be used as a filter to select different visualizations.'>
				
			</div>
          </div>
          <div class="chart-notes">
            Ring chart
          </div>
        </div>
      </div>

    </div>

    <hr>

    

  </div>

<script>

// File Exceedences_of_Metro_route_25th_1.csv sent by Jason Guetler
// Ipython script processed which generated exceedancesLHR.tsv		
	d3.tsv("/static/exceedancesLHR-pres.tsv", function (data) {
		
// Everything is imported as a string by default. Numeric column in read data must be converter to numeric
// Columns with numeric	values must be processed below			
		var convert_2_int = function() {
			var max_length = data.length; 
				for (var i=0; i < max_length; i++) {
					data[i]["Value"] = parseFloat(data[i]["Value"]);
					data[i]["Frequency(Hz)"] = parseFloat(data[i]["Frequency(Hz)"]);
					data[i]["Time"] = parseFloat(data[i]["Time"]);
					data[i]["Speed"] = parseFloat(data[i]["Speed"]);
					data[i]["Exceedence Instance"] = parseInt(data[i]["Exceedence Instance"]);
				}
		}
		convert_2_int();

 //Date format needs to be parsed and and the same time, an aggregate field can be processed

	//	var parseDate = d3.time.format("%d/%m/%Y").parse;  // LHR this is a function expression
	//		data.forEach(function(d) {		// LHR d only exists whilst forEach is being executed.
	//		d.Exceedence_Date = parseDate(d.Date);
			
	//	});
		
var ndx = crossfilter(data);

var all = ndx.groupAll();

// count all the detections
		dc.dataCount(".dc-data-count")
			.dimension(ndx)
			.group(all);			

// Line chart code
			
		//var dateDim = ndx.dimension(function(d) {return d.Detection_Date;}); 	// Note that we are grouping by month to match CMT excel plots
		var timeDim = ndx.dimension(function(d) {return d.Time;}); 
		
		var minTime = timeDim.bottom(1)[0].Time;
		var maxTime = timeDim.top(1)[0].Time;
		
		
		lineChart  = dc.lineChart("#line-chart");   // Note that 'var' has been removed in order to be able to reset chart
													// Full explanation in http://stackoverflow.com/questions/21550270/dc-js-unable-to-redraw-charts (see jfiddle)
													
		rangeChart = dc.barChart('#range-chart');	// Note that 'var' has been removed in order to be able to reset chart
		
		var Excedeence_Count=timeDim.group().reduceSum(function(d)
			{return d['Exceedence Instance'];} );
			
		// var tooltipDateFormat = d3.time.format("%a %e %b %Y");
		var tooltipDateFormat = d3.time.format("%b %Y");
		
		lineChart                       
			.width(750).height(205)
			.dimension(timeDim)
			.group(Excedeence_Count)
			.renderArea(true)
			.renderHorizontalGridLines(true)
			.renderVerticalGridLines(true)
			//.x(d3.time.scale().domain([minTime,maxTime]))
			.x(d3.scale.linear().domain([minTime, maxTime]))
			.brushOn(false)
			//.title(function(d){						// tooltips are shown by using the title function. Also, brushOn must be set to false
			//  return tooltipDateFormat(d.data.key) + "\nNumber of Exceedences: " + d.data.value; })  // Note that data, key and value are reserved words for the function and do not correspond to fields in the imported data
			.elasticY(true)
			.rangeChart(rangeChart)
			.yAxisLabel("Exceedence Count");
			
		rangeChart
		    .width(750).height(70)
			//.margins({top: 0, right: 0, bottom: 20, left: 0})
			.dimension(timeDim)
			.group(Excedeence_Count)
			.renderHorizontalGridLines(true)
			.renderVerticalGridLines(true)
			//.centerBar(true)
			//.gap(1)
			//.x(d3.time.scale().domain([minTime,maxTime]))
			.x(d3.scale.linear().domain([minTime, maxTime]))
			.yAxisLabel("")       // This is to blank out the yAxis labels
			.yAxis().tickFormat(function(v) { return ""; });  // This is to blank out the yAxis scale
			
// Row chart code

		locationRowChart = dc.rowChart("#row-chart");		// Note that 'var' has been removed in order to be able to reset chart
		var locationDimension = ndx.dimension(function(d) {return d["Nearest Station"];});
		var locationGroup = locationDimension.group();
		
		locationGroupRow = locationGroup.reduceSum(function(d) {return d['Exceedence Instance'];});

		var filtered_group = filter_top(locationGroupRow);
		function filter_top(locationGroupRow) {
		  return {
			all:function () {
				return locationGroupRow.top(10);
				}
			}
		 }
			
	    locationRowChart
			.width(280)
			.height(300)
			.margins({top: 20, left: 10, right: 10, bottom: 20})
			.dimension(locationDimension)
			.group(filtered_group)
			.ordering(function(d) {return -d.value})
			.title(function (d) {
				return d.value;
			})
			.elasticX(true)
			.xAxis().ticks(5);

// Row chart code 2

		routeRowChart = dc.rowChart("#row-chart2");		// Note that 'var' has been removed in order to be able to reset chart
		var routeDimension = ndx.dimension(function(d) {return d["Route"];});
		var routeGroup = routeDimension.group();
		
		routeGroupRow = routeGroup.reduceSum(function(d) {return d['Exceedence Instance'];});

		var filtered_group2 = filter_top2(routeGroupRow);
		function filter_top2(routeGroupRow) {
		  return {
			all:function () {
				return routeGroupRow.top(10);
				}
			}
		 }
			
	    routeRowChart
			.width(280)
			.height(300)
			.margins({top: 20, left: 10, right: 10, bottom: 20})
			.dimension(routeDimension)
			.group(filtered_group2)
			.ordering(function(d) {return -d.value})
			.title(function (d) {
				return d.value;
			})
			.elasticX(true)
			.xAxis().ticks(5);
			
			
// Ring chart 2 code
			
		dateRingChart2   = dc.pieChart("#ring-chart2");			// Note that 'var' has been removed in order to be able to reset chart
		
		analysisDim = ndx.dimension(function(d) {return d['Analysis Type'];});
		
		var analysis_total = analysisDim.group().reduceSum(function(d) {return d['Exceedence Instance'];});

		dateRingChart2
			.width(150)
			.height(150)
			.dimension(analysisDim)
			.group(analysis_total)
			.innerRadius(30);
			
// Ring chart 3 code
			
		dateRingChart3   = dc.pieChart("#ring-chart3");			// Note that 'var' has been removed in order to be able to reset chart
		
		accelerometerDim = ndx.dimension(function(d) {return d['Accelerometer Location'];});
		
		var accelerometer_total = accelerometerDim.group().reduceSum(function(d) {return d['Exceedence Instance'];});

		dateRingChart3
			.width(150)
			.height(150)
			.dimension(accelerometerDim)
			.group(accelerometer_total)
			.innerRadius(30);
			
// Ring chart 4 code
			
		speedRingChart   = dc.pieChart("#ring-chart4");			// Note that 'var' has been removed in order to be able to reset chart
		
		speedDim = ndx.dimension(function(d) {return d['Speed Bracket'];});
		
		var speed_total = speedDim.group().reduceSum(function(d) {return d['Exceedence Instance'];});

		speedRingChart
			.width(150)
			.height(150)
			.dimension(speedDim)
			.group(speed_total)
			.innerRadius(30);
	
	
		dc.renderAll();
		
	// Related to this work:

	
	});

 </script> 
  
</body>

</html>
